---
import Layout from '../layouts/bulma.astro';
import SkinCard from '../components/skincard.astro';
import {db} from '../lib/db.js';
import Skincard from '../components/skincard.astro';

let skinsData = await db.query("SELECT cs.*, cl.name as licensename FROM content_skins cs LEFT JOIN content_licenses cl ON cl.id=cs.license WHERE cs.state>=1");
//console.log(skinsData);

// @ts-ignore
skinsData.forEach((skin) => {
	console.log(skin.name);
});
---

<Layout title="SkinsDB">
	<style>
		.skins_wrap {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			justify-content: center;
		}
	</style>
	<section>
		<h1 class="title">Skins</h1>
		<hr>
		<div class="skins_wrap">
			
			{
				// @ts-ignore
				skinsData.map((skin) => (
					<Skincard
						id={skin.id}
						title={skin.title}
						name={skin.name}
						author={skin.author}
						license={skin.licensename}
						image={skin.imagedata}
					/>
				))
			}
		</div>
	</section>
</Layout>